@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 7px 15px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
.header, 
.footer{
  display: flex;
  justify-content: space-between;
}
ul{
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color:rgb(54, 54, 54);
  margin: 0;
  padding: 0;
}
.content{
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
}
.buttons{
  align-self: center;
}
.text{
  border: 10px solid;
  align-self: center;
}
.input{
  display: flex;
  justify-content: center;
}
.footer{
  padding: 15px;
  background-color:#eee
}
.header{
  padding: 15px 18px;
}